<mat-card 
    class="card-panel hoverable" 
    [ngClass]="{'disable': estSelectionnee === false}" 
    style="height: 120px; display: flex; justify-content: center;"
    [ngStyle]="{'background-color': getColor()}" (click)="onClick()">
    <div style="display: table-cell; vertical-align: middle;">
        <div class="options" style="display: flex; justify-content: space-between;">
            <h6>{{index+1}}. {{proposition.intitule}}</h6>
            <span *ngIf="etape === 'explication'">
                <span *ngIf="etatReponse === 'bonne'">
                    <mat-icon fontIcon="done"></mat-icon>
                </span>
                <span *ngIf="etatReponse === 'mauvaise'">
                    <mat-icon fontIcon="close"></mat-icon>
                </span>
            </span>
        </div>
    </div>
</mat-card>