<div class="row">
    <div class="col s12 valign-wrapper" style="height: 100vh;">
        <div class="col s12 m6 offset-m3 center-align">
            <div class="mat-card-container">
                <mat-card style="max-width: 1000px; padding: 20px;">
                    <h5 class="center-align" > Soyez le plus rapide à cliquez <span id="ici" color="primary" (click)="sendScore()">ici</span> pour gagner 1000 points</h5>
                </mat-card>
            </div>
        </div>
    </div>
</div>
