<div class="selection-plateaux-container" *ngIf="isHost()">
        <div class="row">
                <mat-card class="col s4 offset-s4 card-panel" style="margin-top: 20px; background-color: rgba(28, 35, 93, 0.5);;">
                    <h4 class="text-align center-align white-text" style="font-weight: bold;">Choisissez votre plateau : </h4>
                </mat-card>
        </div>
        <div class="row">
                <div class="col s6 m3" *ngFor="let plateau of plateaux">
                        <app-carte-plateau [plateau]="plateau"></app-carte-plateau>
                </div>
        </div> 
        <div class="center-align">
                <button mat-flat-button color="warn" (click)="mettreEnPause()">
                        Sauvegarder
                        <mat-icon fontIcon="save"></mat-icon>
                </button>
        </div>       
</div>