<div style="display: flex; justify-content: right;">
    <button mat-flat-button color="warn" style="margin-right: 10px; margin-top: 10px;" (click)="seDeconnecter()">
        Se déconnecter
        <mat-icon fontIcon="logout"></mat-icon>
    </button>
</div>
<div class="row">
    <mat-card class="col s4 offset-s4 card-panel" style="margin-top: 20px; background-color: rgba(28, 35, 93, 0.5);;">
        <h4 class="center-align white-text" style="font-weight: bold;">Reprendre une partie</h4>
    </mat-card>
</div>
<div class="row">
    <div *ngFor="let partie of onGoingGames" class="col s6 m4">
        <app-ongoing-game-card [partie]="partie"></app-ongoing-game-card>
    </div>
    <div *ngIf="onGoingGames.length === 0">
        <h5 class="center-align white-text">Pas de partie en cours</h5>
    </div>
</div>
<div class="center-align">
    <a mat-flat-button class="btn-floating btn-large" color="accent" [routerLink]="['/create-game']"><i class="material-icons">add</i></a>
</div>

