<div class="row">
    <div class="col s12 valign-wrapper" style="height: 100vh;">
        <div class="col s12 m6 offset-m3 center-align">
            <div class="error-container white-text" >
                <div class="center-align">
                    <img src="../assets/P-2.svg" alt="Play IT" width="150" height="100" >
                </div>
                <h1 class="white-text" style="font-size: 2rem; font-weight: bold;">Oups...Erreur</h1>
                <h1 class="white-text" style="font-size: 10rem; font-weight: bold;">{{ errorCode }}</h1>
                <p class="white-text" style="font-size: 1.5rem; ">{{ errorMessage }}</p>
                <p style="font-size: 1.2rem;">Revenir à la <a class="purple-text" [routerLink]="['/']" style="font-size: 1.2rem; text-decoration: underline;">page d'accueil</a> pour résoudre le problème...</p>
            </div>
        </div>
    </div>
</div>
