<h2>Flat Button</h2>
<div>
    <button mat-flat-button>Basic</button>
    <button mat-flat-button color="primary">Primary</button>
    <button mat-flat-button color="warn">Warn</button>
    <button mat-flat-button color="accent">Accent</button>
</div>

<h2>Card</h2>
Pas mal customisable
<div>
    <mat-card>
        <mat-card-content>Contenu de la carte</mat-card-content>
    </mat-card>
</div>

<h2>Divider</h2>
<div>
    Truc 1
    <mat-divider></mat-divider>
    Truc 2
</div>

<h2>Expansion panel / Accordéon</h2>
<div>
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Titre 1</mat-panel-title>
            </mat-expansion-panel-header>
            Texte 1
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Titre 2</mat-panel-title>
            </mat-expansion-panel-header>
            Texte 2
        </mat-expansion-panel>
    </mat-accordion>
</div>

<h2>Form</h2>
<div>
    <mat-form-field>
        <mat-label>Label</mat-label>
        <input matInput autofocus>
    </mat-form-field>
</div>

<h2>Icon</h2>
<div>
    <mat-icon class="pink-icon" svgIcon="puzzle0"></mat-icon>
</div>

<h2>Progress Bar</h2>
<div>
    <mat-progress-bar value="40"></mat-progress-bar>
</div>

<h2>Ripple</h2>
<div>Regarder la doc</div>

<h2>SnackBar</h2>
<div>Regarder la doc</div>