.container {
    display: flex;
    justify-content: space-between; /* Espacement maximal entre les images */
    flex-wrap: wrap; /* Permet aux éléments de passer à la ligne */
}

.container img {
    width: calc(33.33% - 60px); /* Taille des images (avec marge) sur grand écran */
    margin-bottom: 20px; /* Marge entre les images sur grand écran */
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column; /* Alignement vertical sur petit écran */
        align-items: center; /* Centrage des éléments sur petit écran */
        justify-content: flex-start; /* Réinitialisation de l'espacement */
    }

    .container img {
        width: 100%; /* Largeur pleine sur petit écran */
        margin-bottom: 10px; /* Marge entre les images sur petit écran */
    }
}

.custom-card{
    margin-left: 5%; /* Marge à gauche de 5% de la largeur de l'écran */
    margin-right: 5%; /* Marge à droite de 5% de la largeur de l'écran */
}