<h4 class="white-text text-align center-align" style="font-weight: bold;">Mini Jeu</h4>
<h5 class="white-text text-align center-align" style="font-weight: bold;">Trouver le mot de passe de Julie</h5>


<mat-card class="card-panel center-align custom-card" style="width: 90%; margin-left: 5%; margin-top: 25px;">
    <h6 class="center-align">En explorant les réseaux sociaux, vous découvrez trois postes de Julie. Aidez-vous de ces postes pour découvrir son mot de passe !</h6>
    <div id="row">  
        <div class="container">
            <img class="images" src="../assets/santorin.png" width="31%" height="500px">
            <img class="images" src="../assets/gribouille.png" width="31%" height="500px">
            <img class="images" src="../assets/anniversaire.png" width="31%" height="500px">
        </div>
    </div>
    <mat-form-field style="width: 50%; margin-left: 25%;">
        <input type="text" matInput [formControl]="password" (keyup.enter)="validerMiniJeu()" placeholder="Entrez le mot de passe">
    </mat-form-field>
    <div class="center-align text-align">
        <button mat-flat-button color="warn" style="width: max-content;" (click)="validerMiniJeu()">Valider</button> 
    </div>
</mat-card>

