<div class="row">
    <div class="col s6 m4 valign-wrapper">
        <div class="container">
            <app-badge-joueur></app-badge-joueur>
        </div>
    </div>
    <div class="col s6 m4 valign-wrapper">
        <app-classement></app-classement>
    </div>
    <div class="col s6 m4 valign-wrapper">
        <div class="center-align">
            <h4>Avatar suand ça marchera</h4>
            <h4>Nom de l'équipe quand ça marchera aussi</h4>
            <!--<img [src]="getAvatarPath()" width="300px" height="300px">-->
        </div>
    </div>
</div>
