<div class="row">
    <div class="col s12">
        <div class="mat-card-container">
            <mat-card class="card-panel" style="background: #7fb8ce; width: 100%;">
                <h5 class="center-align white-text" style="font-weight: bold;">{{equipes[0].rang}}</h5>
                <hr style="border: 1px solid white; width: 200px">
                <h6 class="center-align white-text">{{equipes[0].score}} points</h6>
            </mat-card>
        </div>
    </div>
    <div class="col s6">
        <div class="mat-card-container">
            <app-badge-joueur [badges]="badges"></app-badge-joueur>
        </div>
    </div>
    <div class="col s6">
        <div class="mat-card-container valign-wrapper">
            <mat-card class="card-panel" style="background: #283593; width: 100%;">
                <h5 class="white-text">{{equipes[0].nom}}</h5>
                <div class="center-align" style="padding: 10px;">
                    <img src="../assets/avatar.png" width="180px" height="180px">
                </div>
            </mat-card>
        </div>
    </div>
</div>
