<h2 *ngIf="isHost()" class="center-align text-align white-text">Code Pin : {{codePin}} </h2>
<h2 class="center-align text-align white-text">En attente de joueurs...</h2>
<div class="row">
    <div class="center-align text-align col m6 s12 offset-m3">
        <div class="row">
            <div class="col m4 s6" *ngFor="let equipe of listeEquipes">
                <mat-card class="card-panel"><mat-card-content class="black-text"  style="font-weight: bold;">{{equipe.nom}}</mat-card-content></mat-card>
            </div>
        </div>
        <button mat-flat-button *ngIf="isHost()" class="center-align" color="warn" (click)="demarrer()" [disabled]="!playersConnected()">Démarrer</button>
    </div>
</div>
