.dragable {
 
    cursor: move;
    display: flex;
    position: relative;
    z-index: 1;
    
  }
  
  .example-box:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

  .legende{
    display: flex;
    justify-content: space-around;
  }

  #A{
    color : #290096;
  }
  #B{
    color : #ca5fe8;
  }
  #C{
    color : #5ce1e6;
  }