<mat-card class="card-panel center-align" style="width: 90%; height:95vh; margin-left: 5%; margin-top: 10px;">
    <h4 class="black-text text-align center-align" style="font-weight: bold; margin-top: 0px; padding-top: 0px;">Mini Jeu</h4>
    <h6 class="center-align" style="padding-top: 0px; margin-top: 0px;">Allez sur votre le site Website Carbon ci-dessous et mesurez l'impact environnemental de vos sites préférés :  </h6>
    <iframe id="websiteFrame" src="https://www.websitecarbon.com/" style="width: 80%; height: 100%; margin-left: 10%;"></iframe>
    <div class="center-align text-align">
        <button mat-flat-button color="warn" style="width: max-content; margin-top: 20px;" (click)="valider()">Terminer le mini jeu</button> 
    </div>
</mat-card>


