<div class="center-align" *ngFor="let equipe of equipes; index as i">
    <div class="mat-card-container">
        <mat-card class="card-panel" [ngStyle]="{'background-color': getColor(i)}" style="width: 60%;">
            <div style="display: flex; justify-content: space-between;">
                <div class="center-align">
                    <img [src]="getAvatarPath(equipe.avatar)" height="100px" width="100px">
                </div>
                <h4 style="font-weight: bold;" class="white-text">{{equipe.rang}} </h4>
                <div class="center-align">
                    <h5 class="white-text">Score : {{equipe.score}}</h5>
                    <hr style="border: 1px solid white; width: 200px">
                    <h5 class="white-text">{{equipe.nom}}</h5>
                </div>
            </div>
        </mat-card>
    </div>
</div>
