<div class="center-align" *ngFor="let equipe of equipes; index as i">
    <div class="center-align">
        <mat-card class="card-panel" [ngStyle]="{'background-color': getColor(i)}" style="width: 60%;">
            <div class="center-align">
                <h6 class="center-align white-text">{{equipe.rang}} - {{equipe.score}}</h6>
                <hr style="border: 1px solid white; width: 200px">
                <h6 class="center-align white-text">{{equipe.nom}}</h6>
            </div>
        </mat-card>
    </div>
</div>
