<h4 class="center-align white-text">{{question.intitule}}</h4>
<div *ngIf="typeActivite==='question'" class="row">
    <progress-bar *ngIf="showProgressBar"></progress-bar>
    <div *ngFor="let proposition of propositions; index as i" class="col s12 m6">
        <app-response [index]="i" [proposition]="proposition" [etape]="service.etape"
            [onClickCallback]="onSelectionReponse" [estSelectionnee]="propositionSelectionnee === proposition"
            [etatReponse]="idBonneProposition === proposition.id ? 'bonne' : (propositionSelectionnee === proposition ? 'mauvaise' : 'neutre')">
        </app-response>
    </div>
</div>

<mat-card class="card-panel" *ngIf="service.explication !== ''" style="margin: 10px;">
    <h6 class="center-align">{{service.explication}}</h6>
    <div class="options" style=" display: flex; justify-content: space-between;">
        <button mat-flat-button color="warn" (click)="mettreEnPause()">
            Sauvegarder
            <mat-icon fontIcon="save"></mat-icon>
        </button>
        <button mat-flat-button color="warn" (click)="activiteSuivante()">
            Suivant
            <mat-icon fontIcon="arrow_forward"></mat-icon>
        </button>
    </div>
</mat-card>

