<h4 class="center-align white-text">{{question.intitule}}</h4>
<div class="row">
    <div *ngFor="let proposition of propositions; index as i"  class="col s12 m6">
        <app-response [index]="i" [proposition]="proposition" [idActiviteEnCours]="idActiviteEnCours"
            [isBonneReponse]="proposition.id === idBonneProposition">
        </app-response>
    </div>
</div>
<mat-card class="card-panel" *ngIf="explication !== ''">
    <h6 class="center-align">{{explication}}</h6>
    <button mat-flat-button color="warn" style="max-width: 200px;" (click)="activiteSuivante()">Suivant</button>
</mat-card>
